main {
    border: 20px solid brown;
    margin: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
body{
    margin: 8px;
    display:block;
}

h2 {
    font-size: xx-large;
}

#bio {
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
}

#bio-p {
    margin: 20px;
    font-size: large;
}

img {
    border: 5px solid black;
} 

#doberman {
    border: 5px solid black;
    margin: 20px;
}
#bostonTerrier{
    border: 5px solid black;
    margin: 20px;
}
#dobermanList{
    border: 5px;
    margin: 20px;
}

li {
    margin:20px;
    /* text-align: left; */
}

.funParagraph {
    color: green;
}

footer {
    text-align: center;
}

ul {
    list-style: inside;
}

body {
	background: linear-gradient(-45deg, #5283ee, #caccd4, #17566d, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* body {
	background: linear-gradient(-45deg, #5283ee, #caccd4, #17566d, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
} */